.App {
  position: relative;

  text-align: center;

  padding-top: 80px;
}

.app-logo-fixed {

  position: absolute;

  /* Positions it 20px from the top */
  top: 20px;

  /* Positions it 20px from the left */
  left: 20px;

  /* Adjust the size so it's not too big */
  height: 120px;
  width: auto; /* Maintains aspect ratio */

}
