body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(to right top, #5502c1, #6c16c1, #7e39b6, #995abd, #9c66b9);

    /* gradient covers the full screen height */
    min-height: 100vh;

    /* gradient stays in place when scrolling */
    background-attachment: fixed;

    /* Prevents the gradient from repeating */
    background-repeat: no-repeat;

    color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
